.message {
	@apply py-2 flex flex-col;
	min-width: 300px;
	max-width: 48%;
	border-width: var(--message-border-width);
	border-style: var(--message-border-style);
	border-color: var(--message-border-color);
	border-radius: var(--message-border-radius);
	font-size: 0.8rem;
	font-family: var(--font-family);
}

.message header {
	@apply px-2;
	font-size: 1rem;
	font-weight: 900;
	background-color: var(--message-header-color);
}

.message p {
	@apply p-2
}

.message-user {
	@apply self-end;
	background-color: var(--color-bg-alt);
	color: var(--color-text);
}

.message-nonuser {
	@apply self-start;
	background-color: var(--color-bg-alt);
	color: var(--color-text);
}
